@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
:root{
    --dark-blue: hsl(200, 44%, 31%);
    --black: hsl(0, 0%, 0%)
}

body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0;
    background: hsl(0, 0%, 98%, 1);
    position: relative;
    padding-bottom: 70px;
    font-family: 'Montserrat', sans-serif;
}


main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.main-title{
    color: var(--dark-blue);
    font-size: 50px;
    font-weight: bold;
}

.marketing_images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.mision_vision_values_container{
    display: flex;
    flex-direction: row;
}

.about-us{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 700px;
    text-align: justify;
}

.socials-ads{
    width: 25%;
    height: 25%;
}

.socials-ads img{
    width: 100%;
    height: 100%;
}

.mission-vision-values{
    display: flex;
    color: var(--dark-blue);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.mision_vision_text{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    text-align: justify;
    width: 200px;
}

.values{
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
}

footer{
    display: flex;
    position: relative;
    bottom: -60px;
    justify-content: center;
    align-items: center;
}

p{
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: var(--dark-blue);
    margin-left: 20px;
}

#fb-root #fb-page{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#fb-root a{
    text-decoration: none;
}


@media (max-width: 768px) {

    .main-nav-bar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Banner{
        display: none;
    }

    .about-us{
        width: 50%;
    }

    .mision_vision_values_container{
        flex-direction: column;
        align-items: center;
    }

    .mission-vision-values {
        margin: 20px;
        display: flex;
        align-self: center;
    }

    footer{
        display: flex;
        position: relative;
        flex-direction: column;
        bottom: -60px;
        justify-items: center;
        align-items: center;
    }
}